<script>
  //forces the modal to reload on every click,
  //otherwise it is lazy and only loads content the first time
  //you use it
  $(document).ready(function(){
    $('#showTaskModal').on('hidden', function() {
        $(this).data('modal').$element.removeData();
    })
  });

  function getDescriptionObjective(id){
    $.ajax({
      type: "GET",
      url: "/objectives/tasks/"+id+".json",
    }).done(function( msg ) {
      console.log(msg);
      var obj_table = "<table class='table table-striped'>";
      for (index in msg){
        obj_table += "<tr>";

        if(msg[index].completed){
          obj_table += "<td style='width:30px'><i class='icon-ok'></i></td>";
        } else {
          obj_table += "<td style='width:30px'></td>";
        }

        obj_table += "<td>" + msg[index].name + "</td>";

        obj_table += "</tr>";
      }
      obj_table += "</table>";
      $("#well_"+id).html(obj_table);
      console.log(obj_table);
      console.log($("#well_"+id).html());
    });
  };
</script>

<div class="container">
  <div class="row" style="margin-left:0px">

        <h1>Tasks for <%= @event.name %> </h1>

        <table class="table table-striped table-hover">
          <tr>
            <th></th>
            <th>Name</th>
            <th></th>
            <th>Actions</th>
            <th></th>
          </tr>

        <% @tasks.each do |task| %>
          <tr>
            <td style="width:30px">
              <% if task.completed %>
                <i class='icon-ok'></i>
              <% end %>
            </td>
            <td style="margin:10px">
              <a style="cursor:pointer;font-size:1.5em" data-toggle="collapse" data-target="#desc_<%= task.id %>" onclick="javascript:getDescriptionObjective(<%= task.id %>)"><%= task.name %></a>
              <div id="desc_<%= task.id %>" class="collapse">
                <div class="well" style="background:white">
                  <h5>Description:</h5><%= task.description%>
                  <br />
                  <br />
                  <h5>Objectives:</h5>
                  <div id="well_<%= task.id %>">
                  </div>
                </div>
              </div>
            </td>
            <td style="width:10px"><%= link_to 'Show', event_task_path(task.event_id, task), "data-toggle" => "modal", "data-target" => "#showTaskModal", :class => "btn btn-success"%></td>


              <td style="width:10px"><%= link_to 'Edit', edit_event_task_path(task.event_id, task), :class => "btn btn-warning", "data-toggle" => "modal", "data-target" => "#editTaskModal" %></td> 

            <td style="width:10px"><%= link_to 'Delete', event_task_path(task.event_id, task), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "float:right" %></td>
          </tr>
        <% end %>
        </table>

        <br />

        <%= link_to 'New Task', new_event_task_path, :id => 'btn', :class => "btn btn-large btn-primary", "data-toggle" => "modal", "data-target" => "#newTaskModal"%>
        
  </div>
</div>

<div id="showTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:-47%;margin-left:-35%%;height:90%;width:70%">
  <div class="modal-body" style="max-height:100%;padding:0px 15px">
  </div>
</div>

<div id="newTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body" style="max-height:80%; max-width:80%">
  </div>
</div>

<div id="editTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body" style="max-height:80%; max-width:80%">
  </div>
</div>

</div>