
<div id="container">
  <div id="event_name">
  </div>


<div class="container-fluid">

  <div class="row-fluid">
    <div class="span9">
      <div id="event_list">

        <h1>Tasks for <%= @event.name %> </h1>

        <table class="table table-striped table-hover">
          <tr>
            <th>Name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @tasks.each do |task| %>
          <tr>
            <td style="margin:10px">
              <a style="cursor:pointer;font-size:1.5em" data-toggle="collapse" data-target="#<%= task.id %>"><%= task.name %></a>
              <div id="<%= task.id %>" class="collapse">
                <div class="well"><%= task.description%></div>
              </div>
            </td>
            <td><%= link_to 'Show', event_task_path(task.event_id, task), :class => 'btn2' %></td>
            <td><%= link_to 'Edit', edit_event_task_path(task.event_id, task) %></td>
            <td><%= link_to 'Destroy', event_task_path(task.event_id, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>

        <br />

        <%= link_to 'New Task', new_event_task_path, :remote => true, :id => 'btn', :class => "btn btn-large btn-primary"%>
        
      </div>
    </div>
  </div>
</div>


<div id="overlay" class="web_dialog_overlay"></div>

<div id="dialog2" class="web_dialog">
    <h3>Task</h3>
    <ul class="tabs">
      <li><a href="#tab1">Objectives</a></li>
      <li><a href="#tab2">Resources</a></li>
      <li><a href="#tab3">Budget</a></li>
    </ul>
    <div id="bar"></div>
    <div id="tab1">
      <ul id="objectives">
      </ul>
      <form> 
        <input id="addob" type="text" placeholder=" + add objective"/>
      </form>
    </div>
    <div id="tab2">
      <ul id="resources">
      </ul>
      <form>
        <input id="addre" type="text" placeholder=" + add resource"/>
      </form>
    </div>
    <div id="tab3">
      <div id="spent-wrapper"> 
        <p>Spent</p>
      </div>
      <div id="budget-wrapper">
        <p>Budget</p>
      </div>
      <div id="budget-item-wrapper"> 
      </div>
      <br />
      <form>
        <input id="addbi" type="text" placeholder=" + add item"/>
        <input id="addbb" type="number" value="0"/>
        <input id="addbs" type="number" value="0"/>
      </form>
      Total:
      <div class="amts">
        <span id="totalbudget">____</span> 
        <span id="totalspent">____</span>
      </div>
    </div>
    <button id="btnSubmit">Submit</button>
    <button id="btnClose">Cancel</button>
  </div>

  <div id="dialog" class="web_dialog">
    <div></div>
  </div>



</div>