<script>
  function refreshTable(msg){
    //THIS UPDATES THE OBJECTIVES TABLE
    var html = "";
    for (index in msg){
      html += "<tr><td>"
      if (msg[index].completed){
        html += "<i class='icon-ok'></i>"
      }
      html += "</td><td>"+msg[index].name+"</td>";

      if (msg[index].completed){
        html += '<td><a href="/objectives/'+msg[index].id+'?objective%5Bcompleted%5D=false" class="mark_done btn btn-warning" data-method="put" data-remote="true" rel="nofollow" style="float:right">mark not done</a></td>'
      } else {
        html += '<td><a href="/objectives/'+msg[index].id+'?objective%5Bcompleted%5D=true" class="mark_done btn btn-success" data-method="put" data-remote="true" rel="nofollow" style="float:right">mark done</a></td>'
      }

      html += "<td><a href='/objectives/"+msg[index].id+"' data-method='delete' data-remote='true' rel='nofollow' class='btn btn-danger delete_btn' style='float:right'>Delete</a></td></tr>"
    }
    $("#objectives_table").html(html);
    $("#new_obj_field").attr("value", "");

    //THIS UPDATES THE BUDGET TABLE
    //You can smash this loop and the previous loop together but easier to read this way
    html = "<tr><th>Name</th><th>Budget</th><th>Spent</th></tr>";
    var budget_total = 0.0;
    var spent_total = 0.0;
    for (index in msg){
        budget_total += parseFloat(msg[index].budget);
        spent_total += parseFloat(msg[index].spent);

        html += "<tr>";

        html += "<td>"+msg[index].name+"</td>";

        html += '<td><input type="number" id="'+msg[index].id+'" class="input-small budget_value budget_value" value="'+msg[index].budget+'"></input></td>';
        html += '<td><input type="number" id="'+msg[index].id+'" class="input-small spent_value spent_value" value="'+msg[index].spent+'"></input></td>';

        html += "</tr>";
    }
    html += "<tr><td>Total:</td><td>"+budget_total+"</td><td>"+spent_total+"</td></tr>";

    $("#budget_table").html(html);
    rebindBudgetTab();
    rebindDoneToggles();
  };

  //when you refresh the tab, budget tab javascript binding disappear so you need to
  //rebind them every time you refresh that tab
  function rebindBudgetTab(){

    //allow ajax when user presses enter in textbox
    $('.budget_value').keypress(function (e) {
      if (e.which == 13) {
        this.blur();
      }
    });

    $('.spent_value').keypress(function (e) {
      if (e.which == 13) {
        this.blur();
      }
    });

    //allow ajax when user leaves the textbox
    $(".budget_value").blur(function(){
      $.ajax({
        type: "PUT",
        url: "/objectives/"+this.id,
        contentType: 'application/json',
        data: '{"objective":{"budget":'+this.value+'}}'
      }).done(function( msg ) {
        $.ajax({
          type: "GET",
          url: "/objectives/tasks/<%= params[:id] %>.json",
        }).done(function( msg ) {
          refreshTable(msg);
        });
      });
    });

    $(".spent_value").blur(function(){
      $.ajax({
        type: "PUT",
        url: "/objectives/"+this.id,
        contentType: 'application/json',
        data: '{"objective":{"spent":'+this.value+'}}'
      }).done(function( msg ) {
        $.ajax({
          type: "GET",
          url: "/objectives/tasks/<%= params[:id] %>.json",
        }).done(function( msg ) {
          refreshTable(msg);
        });
      });
    });
  };

  function rebindDoneToggles(){
    $(".mark_done").on("ajax:complete", function(event,xhr,status){
      $.ajax({
        type: "GET",
        url: "/objectives/tasks/<%= params[:id] %>.json",
        data: { 
        }
      }).done(function( msg ) {
        refreshTable(msg);
      });
    });

    $(".delete_btn").on("ajax:complete", function(event,xhr,status){
      $.ajax({
        type: "GET",
        url: "/objectives/tasks/<%= params[:id] %>.json",
        data: { 
        }
      }).done(function( msg ) {
        refreshTable(msg);
      });
    });
  }

  //catch the complete ajax request when new objective is pressed
  //and refresh the table
  $("#new_objective").on("ajax:complete", function(event,xhr,status){
    $.ajax({
      type: "GET",
      url: "/objectives/tasks/<%= params[:id] %>.json",
      data: { 
      }
    }).done(function( msg ) {
      refreshTable(msg);
    });
  });

  $(document).ready(function(){
    rebindBudgetTab();
    rebindDoneToggles();
  });
</script>

<p id="notice"><%= notice %></p>

<h3><%= @task.name %></h3>

<% #TAB NAVIGATION DECLARATIONS------------------------------------------------------------- %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#objectives" data-toggle="tab">Objectives</a></li>
  <li><a href="#resources" data-toggle="tab">Resources</a></li>
  <li><a href="#budget" data-toggle="tab">Budget</a></li>
</ul>

<% #TAB CONTENT DECLARATIONS------------------------------------------------------------- %>
<div class="tab-content">
  <% #OBJECTIVES TAB ------------------------------------------------------------------------- %>
  <div class="tab-pane active" id="objectives">
    <table class="table table-striped table-hover" id="objectives_table">
      <% @objectives.each do |objective| %>
        <tr>

          <% if objective.completed %>
            <td><i class="icon-ok"></i></td>
          <% else %>
            <td></td>
          <% end %>

          <td><%= objective.name %></td>

          <% if objective.completed %>
            <td><%= link_to 'mark not done', objective_path(objective, :objective => {:completed => false}), :method => :put, :remote => true, :class => 'mark_done btn btn-warning', :style => "float:right" %></td>
          <% else %>
            <td><%= link_to 'mark done', objective_path(objective, :objective => {:completed => true}), :method => :put, :remote => true, :class => 'mark_done btn btn-success', :style => "float:right"%></td>
          <% end %>

          <td><%= link_to 'Delete', objective, method: :delete, :class => "btn btn-danger delete_btn", :style => "float:right", :remote => true %></td>
        </tr>
      <% end %>
    </table>


    <%= form_for(@new_obj, :remote => true, :id => "new_objective") do |f| %>
      <% if @new_obj.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

          <ul>
            <% @new_obj.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field" style="visibility:hidden; height:0px">
        <%= f.text_field :task_id, :value => params[:id] %>
      </div>

      <div class="field" style="visibility:hidden; height:0px">
        <%= f.text_field :budget, :value => "0" %>
      </div>

      <div class="field" style="visibility:hidden; height:0px">
        <%= f.text_field :spent, :value => "0" %>
      </div>

      <div class="field form-inline" style="float:left; margin-right:10px">
        <%= f.text_field :name, :placeholder => "new objective" , :id => "new_obj_field" %>
      </div>

      <div class="actions" style="padding-top:1px">
        <%= f.submit 'add objective' , :class => "btn" %>
      </div>
    <% end %>
  </div>
  
  <% #RESOURCES TAB ------------------------------------------------------------------------- %>
  <div class="tab-pane" id="resources">
    Resources
    <ul id="resources"></ul>
    <form>
      <input id="addre" type="text" placeholder=" + add resource"/>
    </form>
  </div>
  
  <% #BUDGET TAB ------------------------------------------------------------------------- %>
  <div class="tab-pane" id="budget">

    <table class="table table-striped table-hover" id="budget_table">
      <tr>
        <th>Name</th>
        <th>Budget</th>
        <th>Spent</th>
      </tr>

      <% budget_total = 0.0 %>
      <% spent_total = 0.0 %>

      <% @objectives.each do |objective| %>

        <% budget_total += objective.budget %>
        <% spent_total += objective.spent %>

        <tr>
          <td><%= objective.name %></td>

          <td><input id="<%= objective.id %>" type="number" class="input-small budget_value" value="<%= objective.budget %>"></input></td>
          <td><input id="<%= objective.id %>" type="number" class="input-small spent_value" value="<%= objective.spent %>"></input></td>

        </tr>
      <% end %>
      <tr>
        <td>Total:</td>
        <td><%= budget_total %></td>
        <td><%= spent_total %></td>
    </table>
  </div>
</div>

<br />
<button data-dismiss="modal" class="btn btn-primary" style="float:right" type="button">Back to Tasks</button>
