<div id="top_bar"></div>

<div id="profile_area">
  <div id="profile_photo"></div>
  <div id="profile_name" class="shadow">John Smith</div>
</div>

<div id="event_list">
  <h1>Listing events</h1>
  <table>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />
  <div id="overlay" class="web_dialog_overlay"></div>
  
  <div id="dialog" class="web_dialog">
    <button id="btnSubmit2">Submit</button>
    <button id="btnClose2">Cancel</button>
  </div>

  <%= link_to('New Event', new_event_path, :id => 'btn', :remote => true) %>
</div>