<script>
  //marks the events tab as active in navigation
  $('#nav_events').addClass("active");
</script>
<div class="container">
  <div class="hero-unit">
      <h1>
        <%= image_tag("placeholder.png", :alt => "rss feed", :style => "width:10%; height:10%; vertical-align:text-bottom") %> John Smith
      </h1>
  </div>
  <hr />
  <div class="row" style="margin-left:0px">
      <h1>Listing events</h1>
      <table class="table table-striped table-hover">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @events.each do |event| %>
        <tr>
          <td><h4><%= event.id %></h4></td>
          <td><h4><%= event.name %></h4></td>
          <td><%= link_to 'Open', event, :class => "btn btn-success", :style => "float:right" %></td>

          <!-- Edit has been removed b/c user feedback
            <td style="width:10px"><%= link_to 'Edit', edit_event_path(event), :class => "btn btn-info", :style => "float:right" %></td>
          -->
          
          <td style="width:10px"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :style => "float:right" %></td>
        </tr>
      <% end %>
      </table>

      <br />

      <div id="overlay" class="web_dialog_overlay"></div>
      
      <div id="dialog" class="web_dialog">
        <div></div>
      </div>


      <%= link_to('New Event', new_event_path, :id => 'btn', :class => "btn btn-large btn-primary", "data-toggle" => "modal", "data-target" => "#newEventModal") %>

    <div id="newEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-body" style="max-height:80%; max-width:80%">
      </div>
    </div>
    </div>
</div>
