<!DOCTYPE html>
<html>
<head>
  <title>CS160Project - Interactive Prototype</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container-fluid">
	      <div class="nav-collapse collapse">
	       
	        <li class="brand">EventPlanner</li>
	        
	        <div class="nav">
	          <li class="active">
	            <%= link_to 'Home', events_path %>
	          </li>
	          <li><a href="#">Events</a></li>
	          <li><a href="#">Templates</a></li>
	        </div>

	        <p class="navbar-text pull-right">
	          Logged in as 
	          <a href="#" class="navbar-link">Username</a>
	        </p>

	      </div>
	    </div>
	  </div>
	</div>


	
		<%= yield %>

</body>
</html>
